  <nav class="main-nav transparent stick-fixed" id = "menubar">
               
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="/" class="logo">
                            <img src="images/markerville_logo.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist navigation">
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="/" class="mn-has-sub ">Home </a>
                                
                                <!-- Sub Multilevel -->
                              </li>
                               <li>
                                <a href="/about" class="mn-has-sub">About </a>
                                
                                <!-- Sub Multilevel -->
                              </li>
                            
                            <!-- Search -->
                            <li>
                                <a href="#" class="mn-has-sub"><i class="fa fa-search"></i> Search</a>
                                
                                <ul class="mn-sub">
                                    
                                    <li>
                                        <div class="mn-wrap">
                                            <form  class="" method="get">
                                                <div class="search-wrap">
                                                   
                                                    <input  type="search" id="search_bar" name="biomarker" placeholder="Enter a biomarker..." class = "form-control input-sm">
                                                     <button style = "display:inline; float:right;" class=" animatebtn btn-mod btn-w btn-circle btn-icon " type="submit" id="search_button" value="Search">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    
                                </ul>
                                
                            </li>
                            <!-- End Search -->

                            
   
                        </ul>
                    </div>
                    <!-- End Main Menu -->
                    

                </div>
            </nav>